#register {
    background-color: teal;
    border-radius: 5px;
    color: white;
    padding: 12px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
}

#registration {
    text-align: center;
    /*vertical-align: middle;*/
    /*margin: 3%;*/
    /*padding: 100px 100px 100px 100px;*/


    /*background-color: aquamarine;*/
    /*background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8slLWYemGzetGvSyuqXksE8voZIvrx6KFotxSMIpHEQ5jOPq6yA");*/
    /*background-repeat: no-repeat ;*/
    /*background-position: center;*/
    /*-moz-background-size: auto;*/

}

#username {
    text-align: left;
    height: 50px;
    width: 400px;
    border-color: transparent;
    border-radius: 5px;
    font-size: xx-large;
    color: teal;


}

body {
    background-image: url("http://www.sense-lang.org/img/Lessons.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.hidden {
    display: none;
}

#level {
    text-align: center;
    margin: 7%;
    font-size: large;
    color: teal;
}

#start {
    background-color: teal;
    border-radius: 5px;
    color: white;
    padding: 12px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
}

.letters {
    width: 50px;
    height: 50px;
    background-color: teal;
    text-align: center;
}

.gold{
    color: goldenrod;
}

#game{
    text-align: center;
    margin: 7%;
    font-size: large;
    color: teal;
}

#gamename{
    margin-left: 8%;
    margin-top: 11%;
    font-size: 60px;
    font-style: italic;
    color: white;
}


img{
    -webkit-user-select: none;
    background-position: 0px 0px, 10px 10px;
    background-size: 20px 20px;b
ackground-image:linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%),
linear-gradient(45deg, #eee 25%, white 25%, white 75%, #eee 75%, #eee 100%);
}

